// Animation
$cubic-bezier: cubic-bezier(0.250, 0.460, 0.450, 0.940);

// Colors
$aqua: #7fdbff;
$black: #111;
$blue: #0074d9;
$fuschia: #f012be;
$gray: #aaa;
$green: #2ecc40;
$lime: #01ff70;
$maroon: #85144b;
$navy: #001f3f;
$olive: #3d9970;
$orange: #ff851b;
$purple: #b10dc9;
$red: #ff4136;
$silver: #ddd;
$teal: #39cccc;
$white: #fff;
$yellow: #f3c859;

// Mixins
//-- Background Image
@mixin backgroundImage($image, $height, $width, $position: center top, $size: contain) {
  background: image-url($image) no-repeat $position;
  background-size: $size;
  display: block;
  height: $height;
  width: $width;
}

//-- Breakpoints
$xs: ( max:  767px );
$sm: ( min:  768px );
$md: ( min:  1023px );
$lg: ( min: 1200px );

$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );

$portrait: ( orientation: portrait );
$landscape: ( orientation: landscape );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}

@mixin screen-orientation($map) {
  $query: "";
  @if map-has-key($map, orientation) { $query: append($query, "(orientation: #{map-get($map, orientation)})") }
  @media only screen and #{$query} { @content; }
}

// Silent Classes
//-- Image Replacement: Hide text
%ir {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

// Typefaces
$proxima-nova: ""